langchain_openai
langchain_community
langchain_core
python-dotenv
streamlit   
fastapi
langserve
uvicorn
sse-starlette
bs4
pypdf
chromadb
faiss-cpu
wikipedia
arxiv
langchainhub
groq
langchain-groq
beautifulsoup4
sentence-transformers
langchain-chroma
ipykernel
